@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body{
    height: 100%;
    /* width: 100%; */
    background-image: url("../image/img_name_input.png");
    background-size: 100%;
    background-color: rgb(51, 49, 61);
}

.Input{
    margin:0 auto;
    width:440px;
}

/* .name{
    font-family: 'Black Han Sans';
    color: white;
    font-size: 50px;
    margin-top: 15%;
    text-align:center;
} */

#NameInput {
    width:440px;
    height:100px;
    font-size:50px;
    border-radius:30px;
    font-weight : bold ;
    text-align:center;
    margin-left: 30%;
    margin-top: 110%;
    display: block;
}