body{
    height: 100%;
    width: 100%;
    background-image: url("../image/img_score_background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: rgb(0, 16, 41);
}
#textBaguni {
    color: black;
    margin-right: 10%;
    margin-left: 15%;
}

#baguni {
    width: 15%;
    height: 15%;
    margin-right: 10%;
    margin-left: 10%;
}

#char {
    width: 40%;
    height: 40%;
    margin-top: 10%;
}

