<!--index-->
<!DOCTYPE html>

<head>
    <link rel="stylesheet"  type="text/css"  href="/css/gameNameEnterPage.css">
    <!-- <script src="../js/gameNameEnterPage.js"></script> -->
    <title>알바토끼</title>
</head>

<body>  
    <form method="post" action="/gamePlayPage">
        <div class="Input">
            <input type="text" maxlength="7" id="NameInput" name="nameInput" placeholder="이름 입력">
        </div>
        <!-- 이름 입력 버튼 (임시) -->
        <!-- <img class="game_btn" src="/image/img_btn_game_start.png" alt="game_btn"> -->
        <input class="game_btn" type="submit" value="" name="" src="/image/img_btn_game_start.png" alt="game_btn" id="submitBtn">
    </form>
    <!-- <p class = "name">이름을 입력해주세요</p> -->
    
    <!-- 뒤로가기버튼 -->
    <a href="/index">
        <img class="rule_btn" src="/image/img_btn_game_return.png" alt="rule_btn">
    </a>

</body>

</html>