<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css"  href="/css/gameTimeoutPage.css">
    <title>Document</title>
</head>
<body>
    gameTimeoutPage
    <p id="text-container">점수 출력 문구</p>

    <img class="game_btn" src="image/img_btn_game_start.png" alt="game_btn"
        onclick="onclickSound('/gameNameEnterPage')" />

    <img class="rule_btn" src="image/img_btn_game_rules.png" alt="rule_btn"
        onclick="onclickSound('/gameManualPage')" />

    <audio id="clickSound">
        <source src="./music/button_click.mp3" type="audio/mp3">
    </audio>

</body>
</html>