<!--index-->
<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/gameNameEnterPage.css">
    <script type="text/javascript" src="/sound.js"></script>
    <title>알바토끼</title>
</head>

<body>
    <form method="post" action="/gameCountPage"> <!--게임 카운트 페이지로 변경-->
        <div class="Input">
            <input type="text" maxlength="7" id="NameInput" name="nameInput" placeholder="이름 입력">
        </div>
        <!-- 이름 입력 버튼 (임시) -->
        <!-- <img class="game_btn" src="/image/img_btn_game_start.png" alt="game_btn"> -->
        <input class="game_btn" type="submit" value="" name="" src="/image/start_btn.png" alt="game_btn" id="submitBtn" onclick="submitClickSound()">
    </form>
    <!-- <p class = "name">이름을 입력해주세요</p> -->

    <!-- 뒤로가기버튼 -->
    <img id="back_btn" class="game_btn" src="/image/img_btn_game_return.png" alt="back_btn" onclick="onclickSound('/')">

    <audio id="clickSound">
        <source src="./music/button_click.mp3" type="audio/mp3">
    </audio>

</body>

</html>