<!--게임 방법 화면-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/game_manual_style.css">
        <script type="text/javascript" src="/sound.js"></script>
        <title>알바토끼</title>
    </head>
    <body>
        
        <div id="btn">
            <img src="/image/img_btn_game_return.png" alt="돌아가기 버튼" id="return" class="click_btn"
            onclick="onclickSound('/')" >
            <img src="/image/img_btn_game_start.png" alt="시작하기 버튼" id="start" class="click_btn"
                onclick="onclickSound('/gameNameEnterPage')" >
        </div>

        <audio id="clickSound">
            <source src="./music/button_click.mp3" type="audio/mp3">
        </audio>

    </body>
</html>