<!--게임 방법 화면-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/game_manual_style.css">
        <title>알바토끼</title>
        <script>
            function onclickSound(link) {
                const clickMusic = document.getElementById("clickSound");
                clickMusic.play();
    
                // 소리 재생 후 링크로 이동
                setTimeout(function () {
                    window.location.href = link;
                }, clickMusic.duration * 670); // 소리의 재생 시간(초)에 따라 지연 시간 설정
            }
        </script>
    </head>
    <body>
        
        <div id="btn">
            <img src="/image/img_btn_game_return.png" alt="돌아가기 버튼" id="return" class="click_btn"
            onclick="onclickSound('/')" >
            <img src="/image/img_btn_game_start.png" alt="시작하기 버튼" id="start" class="click_btn"
                onclick="onclickSound('/gameNameEnterPage')" >
        </div>

        <audio id="clickSound">
            <source src="./music/button_click.mp3" type="audio/mp3">
        </audio>

    </body>
</html>