body{
    background-image: url("../image/img_background.png");
    background-color: rgb(51, 49, 61);
}

#img_logo {
    height: 35%;
    width: 35%;
    margin: 7% auto auto auto;
    display: block;

}

#game_btn{
    height: 20%;
    width: 20%;
    margin: 3% auto auto 27%;
    /* display: block; */
}

#rule_btn{
    height: 20%;
    width: 20%;
    margin: 3% auto auto 4%;
    /* display: block; */
}