body {
    height: 100%;
    /* width: 100%; */
    background-image: url("../image/img_count_background.png");
    background-size: 100%;
    background-color: rgb(51, 49, 61);
}

#T {
    margin-top: 27%;
    margin-left: 47%;
    font-size: 1000%;
    color: black;
    font-family: 'SBAggroB';
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}