@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100%;
    /* width: 100%; */
    background-image: url("../image/img_game_background.png");
    background-size: 100%;
    background-color: rgb(51, 49, 61);
}

#random-text{
    color: white;
    font-size: 60px;
    font-family: 'SBAggroB';
    margin : 7% auto auto 42%;
}

#canvas {
    position: absolute;
    margin-left: 75.5%;
    margin-top: 24%;
}

#basket-image{
    width: 200px;
    height: 200px;
    margin-left: 90px;
    margin-top: -14%;
}

#image-container{
    margin-left: 30%;
    margin-top: 0%;
}

#game-cnt{
    font-family: 'SBAggroB';
    font-size: large;
    font-style: normal;
}

#count-text-container {
    font-family: 'SBAggroB';
    font-size: 40px;
    margin-left: 10%;
    margin-top: 7.5%;
    color: white;
}

#timer {
    font-family: 'SBAggroB';
    margin-top: 6.5%;
    margin-left: 9%;
    color: white;
    font-size: 50px;
}

#chear-up{
    font-family: 'SBAggroB';
    margin-top: 10;
}