@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body{
    height: 100%;
    /* width: 100%; */
    background-image: url("../image/img_name_input.png");
    background-size: 100%;
    background-color: rgb(51, 49, 61);
}

.Input{
    margin:0 auto;
    width:440px;
}

/* .name{
    font-family: 'Black Han Sans';
    color: white;
    font-size: 50px;
    margin-top: 15%;
    text-align:center;
} */

#NameInput {
    width:400px;
    height:100px;
    font-size:40px;
    border-radius:30px;
    font-weight : bold ;
    text-align:center;
    margin-left: 2%;
    margin-top: 92%;
    display: block;
}
#submitBtn{
    background:url(/image/img_btn_game_start.png);
    background-repeat: no-repeat;
    height: 120px;
    width: 350px;
    transition: all 0.5s ease-in-out;
    background-size:100%;
    border: 0;
    margin-left: 20%;
    margin-top: 23%;
}

.back_btn{
    height: 120px;
    width: 350px;
    margin-top: 2%;
    margin-left: 20%;
}

/* ---버튼 애니메이션 ---*/

.game_btn {
    height: 15%;
    width: 15%;
    transition: all 0.5s ease-in-out;
  }
  
  .game_btn:hover {
    transform: scale(1.1);
  }

  .back_btn {
    height: 21%;
    width: 21%;
    transition: all 0.5s ease-in-out;
  }
  
  .back_btn:hover {
    transform: scale(1.1);
  }
