body{
    height: 100%;
    /* width: 100%; */
    background-image: url("../image/img_score_background.png");
    background-size: 100%;
    background-color: rgb(51, 49, 61);
}

.img_table{
    height: 700px;
    width: 1000px;
    margin: 15% auto auto auto;
    display: block;
    font-family: 'SBAggroB';
    font-size: 60pt;
}

.game_btn{
    height: 15%;
    width: 15%;
    margin: 5% auto auto 32%;
    position: relative;
    /* display: block; */
}

.rule_btn{
    height: 15%;
    width: 15%;;
    margin: 3% auto auto 6%;
    position: relative;
    /* display: block; */
}

  .game_btn {
    height: 15%;
    width: 15%;
    transition: all 0.5s ease-in-out;
  }
  
  .game_btn:hover {
    transform: scale(1.1);
  }
/* ------rule_btn 애니메이션--------*/
  .rule_btn {
    height: 15%;
    width: 15%;
    transition: all 0.5s ease-in-out;
  }
  
  .rule_btn:hover {
    transform: scale(1.1);
  }
  .now{
    width: 1000px;
    border-collapse: separate;
    border-spacing: 30px 0px;
    margin-left: 30px;
    margin-top: 10px;
    padding-top: 20px;
  }
  .score{
    height: 500px;
    width: 1000px;
    border-collapse: separate;
    border-spacing: 40px 0px;
    margin-left: 60px;
    padding: 8px;
  }
  
  @font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}