body{
    height: 100%;
    /* width: 100%; */
    background-image: url("../image/img_score_background.png");
    background-size: 100%;
    background-color: rgb(51, 49, 61);
}

.img_table{
    height: 100px;
    width: 100px;
    margin: 8% auto auto auto;
    display: block;

}

.game_btn{
    height: 15%;
    width: 15%;
    margin: 5% auto auto 32%;
    position: relative;
    /* display: block; */
}

.rule_btn{
    height: 15%;
    width: 15%;;
    margin: 3% auto auto 6%;
    position: relative;
    /* display: block; */
}

  .game_btn {
    height: 15%;
    width: 15%;
    transition: all 0.5s ease-in-out;
  }
  
  .game_btn:hover {
    transform: scale(1.1);
  }
/* ------rule_btn 애니메이션--------*/
  .rule_btn {
    height: 15%;
    width: 15%;
    transition: all 0.5s ease-in-out;
  }
  
  .rule_btn:hover {
    transform: scale(1.1);
  }
  
  