body {
    height: 100%;
    /* width: 100%; */
    background-image: url("../image/img_game_background.png");
    background-size: 100%;
    background-color: rgb(51, 49, 61);
}

#canvas {
    position: absolute;
    margin-left: 75%;
    margin-top: 19%;
}

#basket-image{
    margin-left: -100px;
    margin-top: 350px;
}

#image-container{
    margin-left: 25%;
    margin-top: 10%;
}

#game-cnt{
    font-size: large;
    font-style: normal;
}

#timer{
    margin-top: 17.5%;
    margin-left: 9.5%;
    color: white;
    font-size: 35px;
}

#image-container{
    margin-top: -5%;
}

#chear-up{
    margin-top: 10;
}